.accordeon-heading {
  width: 302px;
  font-family: ALSStory;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  color: #ffffff;
  width: 302px;
  
}
.accordeon__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: 0.5s;

  @media (min-width: $screen-desktop) {
    padding: 30px 45px;
}

  &:hover {
    background-color: #22374b;
    cursor: pointer;
}
}


.active, .accordeon__wrapper:hover {
  background-color: #22374b;
}

.accordeon__wrapper:after {
  content: url(../img/path-2-copy-10.svg);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url(../img/path-2-copy-12.svg);
}

